* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    height: 500px;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 100px 200px;
    grid-auto-rows: 400px; */
    grid-template-areas:"header header header"
    "sidebar content content"
    "footer footer footer";
    gap: 10px;
}

.item {
    background-color: yellow;
    padding: 20px;
    font-size: 30px;
    /* margin: 30px; */
    /* flex: flex-grow, flex-shrink, flex-basis */
    /* flex: 0 1 300px; */
}

/* .item-1 {
    flex-grow: 2;
}

.item-2 {
    flex-grow: 1;
}

.item-3 {
    flex-basis: 400px;
    flex-shrink: 0;
}

.item-4 {
    flex-grow: 1;
} */
.header{
    grid-area: header;
    background-color: blue;
}
.content{
    grid-area: content;
    background-color: red;
}
.sidebar{
    grid-area: sidebar;
    background-color: yellow;
}
.footer{
    grid-area: footer;
    background-color: aqua;
}